<div class="short-page">
  <div class="container">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="panel pandel-default">
        <div class="panel-body">
          <form role="form">
              <div class="form-group">
                  <label for="inputEmail2">Epost</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="">
              </div>
              <div class="form-group">
                  <label for="inputPassword3">Lösenord</label>
                  <input type="password" class="form-control" id="inputPassword3" placeholder="">
                  
              </div>
              <div class="checkbox">
                  <label>
                      <input type="checkbox"> <small>Jag har läst och accepterar NewsHubbys <a href="/terms_of_service" target="_blank">användarvillkor</a>.</small>
                  </label>
              </div>
              <button type="submit" class="btn btn-primary btn-lg btn-block">Registrera dig</button>
          </form>
          <a href="#"><small>Redan medlem? Logga in här</small></a>
        </div>
      </div>
    </div>
  </div>
  <div class="push"></div>
</div>