<div class="short-page">
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
            <h3>Tack för din beställning!</h3>
            <p>Vi har skickat ett bekräftelse-mail till dig på <strong>[kundens epostadress]</strong> och kommer att påbörja PR-arbetet på utsatt dag!</p>

            <p>Vi vill påminna om att det är viktigt att du inte skickar ut pressmeddelandet till någon - inte ens till din lokala mediekontakt - förrän du får ett mail från NewsHubby om att beställt PR-arbete är helt avslutat, då detta kan komma att minska era chanser att nå ut i framtiden.</p>
            <br>
            <h5>Vad händer nu?</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem tenetur modi adipisci ipsam earum voluptatum minus enim nostrum veniam commodi quis dolor est quia ex libero iure voluptates, dolorum expedita!</p>
            <br>
            <a href="pressroom.html" role="button" class="btn btn-primary">Till mitt pressrum</a>
            <a href="#" role="button" class="btn btn-primary pull-right">Se pressmeddelandet</a>
            <br><br>
        </div>
    </div> <!--- / .container -->
    <div class="push"></div>
</div>