<h2>Editing press_release_type</h2>

<%= render 'form' %>

<%= link_to 'Show', category_press_release_type_path(@category, @press_release_type) %> |
<%= link_to 'Back', category_press_release_types_path %>
