<div class="short-page">
	<div class="container">
		<div class="col-sm-8 col-sm-offset-2">
		<div class="row">
			<h2>New press_release_type</h2>
		</div>
		<div class="row">
			<%= render 'form' %>
		</div>
		<div class="row">
			<%= link_to 'Back', category_press_release_types_path %>
		</div>
		</div>
	</div>
	<div class="push"></div>
</div>
