<div class="short-page">
<div class="container">
  <div class="row">
  <div class="col-sm-6">
    <h3>Om NewsHubby</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe exercitationem atque, vel aliquam architecto molestias deleniti id error nulla illum, tempore minus aspernatur, quibusdam voluptatem! Nostrum harum, deserunt voluptatum consequatur.</p>
    <p><a href="mailto:hello@newshubby.com">hello@newshubby.com</a></p>
  </div>
  <div class="col-sm-6">
    <h3>Teamet</h3>

        <div class="media">
          <div class="media-left">
            <img class="media-object" src="media/founder.jpg" alt="Photo of founder and CEO of NewsHubby Alexandra Bylund">
          </div>
          <div class="media-body">
            <div class="pull-right">
              <a href="mailto:alexandra@newshubby.com"><span class="fa fa-envelope"></span></a>
              <a href="http://twitter.com/AlexandraBylund" target="_blank"><span class="fa fa-twitter"></span></a>
              <a href="http://se.linkedin.com/in/alexandrabylund/sv" target="_blank"><span class="fa fa-linkedin"></span></a>
            </div>
            <h4 class="media-heading">Alexandra Bylund</h4>
            <h5>Grundare och VD</h5>
            <p>Tvåbarnsmamma, podcastälskare och kommunikationsnörd som får sina bästa idéer under joggingturerna.</p>
          </div>
        </div>

        <div class="media">
          <div class="media-left">
            <img class="media-object" src="media/backend.jpg" alt="Photo of Robert Knutsson">
          </div>
          <div class="media-body">
            <div class="pull-right">
              <a href="mailto:robert@newshubby.com"><span class="fa fa-envelope"></span></a>
              <a href="http://twitter.com/viljavarasto" target="_blank"><span class="fa fa-twitter"></span></a>
              <a href="http://se.linkedin.com/in/robertknutsson/sv" target="_blank"><span class="fa fa-linkedin"></span></a>
            </div>
            <h4 class="media-heading">Robert Knutsson</h4>
            <h5>CTO & Back-end Developer</h5>
            <p>Nationalekonom och aspirerande mångsysslare.</p>
            
          </div>
        </div>


        <div class="media">
          <div class="media-left">
            <img class="media-object" src="media/frontend.jpg" alt="Photo of Roland Johansson">
          </div>
          <div class="media-body">
            <div class="pull-right">
              <a href="mailto:roland@newshubby.com"><span class="fa fa-envelope"></span></a>
              <a href="http://twitter.com/ro1andjohansson" target="_blank"><span class="fa fa-twitter"></span></a>
              <a href="http://se.linkedin.com/in/johanssonroland" target="_blank"><span class="fa fa-linkedin"></span></a>
            </div>
            <h4 class="media-heading">Roland Johansson</h4>
            <h5>Front-end Developer & Designer</h5>
            <p>Före detta ljudtekniker och musikproducent.</p>
          </div>
        </div>


  </div>
    
  </div>
    <div class="row">
    
    </div> <!-- / .row-->
</div><!-- /.container -->
<div class="push"></div>
</div> <!-- /.short-page -->