<div class="short-page">
    <div class="container">
        <div class="col-sm-8">
        <style type="text/css">
            ul.lst-kix_spg1ig2oi3j2-4 {
                list-style-type: none
            }
            ul.lst-kix_spg1ig2oi3j2-3 {
                list-style-type: none
            }
            ul.lst-kix_spg1ig2oi3j2-2 {
                list-style-type: none
            }
            ul.lst-kix_spg1ig2oi3j2-1 {
                list-style-type: none
            }
            ul.lst-kix_spg1ig2oi3j2-0 {
                list-style-type: none
            }
            .lst-kix_spg1ig2oi3j2-0>li:before {
                content: "\0025cf  "
            }
            .lst-kix_spg1ig2oi3j2-8>li:before {
                content: "\0025a0  "
            }
            .lst-kix_spg1ig2oi3j2-1>li:before {
                content: "\0025cb  "
            }
            .lst-kix_spg1ig2oi3j2-7>li:before {
                content: "\0025cb  "
            }
            ul.lst-kix_spg1ig2oi3j2-8 {
                list-style-type: none
            }
            ul.lst-kix_spg1ig2oi3j2-7 {
                list-style-type: none
            }
            ul.lst-kix_spg1ig2oi3j2-6 {
                list-style-type: none
            }
            ul.lst-kix_spg1ig2oi3j2-5 {
                list-style-type: none
            }
            .lst-kix_spg1ig2oi3j2-4>li:before {
                content: "\0025cb  "
            }
            .lst-kix_spg1ig2oi3j2-3>li:before {
                content: "\0025cf  "
            }
            .lst-kix_spg1ig2oi3j2-5>li:before {
                content: "\0025a0  "
            }
            .lst-kix_spg1ig2oi3j2-2>li:before {
                content: "\0025a0  "
            }
            .lst-kix_spg1ig2oi3j2-6>li:before {
                content: "\0025cf  "
            }
            ol {
                margin: 0;
                padding: 0
            }
            .c2 {
                color: #000000;
                font-weight: normal;
                text-decoration: none;
                vertical-align: baseline;
                font-family: "Arial";
                font-style: normal
            }
            .c3 {
                padding-top: 0pt;
                padding-bottom: 5pt;
                line-height: 1.15;
                text-align: justify;
                direction: ltr
            }
            .c1 {
                margin-left: 36pt;
                orphans: 2;
                widows: 2;
                padding-left: 0pt;
                direction: ltr
            }
            .c5 {
                padding-top: 0pt;
                padding-bottom: 5pt;
                line-height: 1.15;
                text-align: left;
                direction: ltr
            }
            .c11 {
                padding-top: 0pt;
                padding-bottom: 0pt;
                line-height: 1.15;
                text-align: justify;
                direction: ltr
            }
            .c12 {
                padding-top: 0pt;
                padding-bottom: 0pt;
                line-height: 1.15;
                text-align: left;
                direction: ltr
            }
            .c6 {
                color: #000000;
                text-decoration: none;
                vertical-align: baseline;
                font-style: normal
            }
            .c7 {
                background-color: #ffffff;
                max-width: 468pt;
                padding: 72pt 72pt 72pt 72pt
            }
            .c9 {
                padding: 0;
                margin: 0
            }
            .c4 {
                font-family: "Times New Roman";
                font-weight: bold
            }
            .c8 {
                font-size: 13pt
            }
            .c10 {
                height: 11pt
            }
            .c0 {
                font-size: 10pt
            }
            .title {
                padding-top: 24pt;
                color: #000000;
                font-weight: bold;
                font-size: 36pt;
                padding-bottom: 6pt;
                font-family: "Arial";
                line-height: 1.15;
                page-break-after: avoid;
                orphans: 2;
                widows: 2;
                text-align: left
            }
            .subtitle {
                padding-top: 18pt;
                color: #666666;
                font-size: 24pt;
                padding-bottom: 4pt;
                font-family: "Georgia";
                line-height: 1.15;
                page-break-after: avoid;
                font-style: italic;
                orphans: 2;
                widows: 2;
                text-align: left
            }
            li {
                color: #000000;
                font-size: 11pt;
                font-family: "Arial"
            }
            p {
                margin: 0;
                color: #000000;
                font-size: 11pt;
                font-family: "Arial"
            }
            h1 {
                padding-top: 24pt;
                color: #000000;
                font-weight: bold;
                font-size: 24pt;
                padding-bottom: 6pt;
                font-family: "Arial";
                line-height: 1.15;
                page-break-after: avoid;
                orphans: 2;
                widows: 2;
                text-align: left
            }
            h2 {
                padding-top: 18pt;
                color: #000000;
                font-weight: bold;
                font-size: 18pt;
                padding-bottom: 4pt;
                font-family: "Arial";
                line-height: 1.15;
                page-break-after: avoid;
                orphans: 2;
                widows: 2;
                text-align: left
            }
            h3 {
                padding-top: 14pt;
                color: #000000;
                font-weight: bold;
                font-size: 14pt;
                padding-bottom: 4pt;
                font-family: "Arial";
                line-height: 1.15;
                page-break-after: avoid;
                orphans: 2;
                widows: 2;
                text-align: left
            }
            h4 {
                padding-top: 12pt;
                color: #000000;
                font-weight: bold;
                font-size: 12pt;
                padding-bottom: 2pt;
                font-family: "Arial";
                line-height: 1.15;
                page-break-after: avoid;
                orphans: 2;
                widows: 2;
                text-align: left
            }
            h5 {
                padding-top: 11pt;
                color: #000000;
                font-weight: bold;
                font-size: 11pt;
                padding-bottom: 2pt;
                font-family: "Arial";
                line-height: 1.15;
                page-break-after: avoid;
                orphans: 2;
                widows: 2;
                text-align: left
            }
            h6 {
                padding-top: 10pt;
                color: #000000;
                font-weight: bold;
                font-size: 10pt;
                padding-bottom: 2pt;
                font-family: "Arial";
                line-height: 1.15;
                page-break-after: avoid;
                orphans: 2;
                widows: 2;
                text-align: left
            }
        </style>
        <p class="c5"><span class="c6 c4 c8">NEWSHUBBY AB &ndash; GENERAL TERMS AND CONDITIONS</span></p>
        <p class="c5"><span class="c6 c4 c0">1. GENERAL</span></p>
        <p class="c3"><span class="c2 c0">The following general conditions constitute a legally binding agreement (the &ldquo;User Agreement&rdquo;) between the User and NewsHubby AB (&ldquo;NewsHubby&rdquo;) which shall govern the User&rsquo;s use of NewsHubby&rsquo;s press release tool at www.newshubby.com (the &ldquo;Service&rdquo;). If the User is a private individual, the User Agreement is only valid if entered into by a User who is at least 18 years old on the day of entering into the User Agreement. If the User is a legal entity, the User Agreement is valid only if entered into by an authorized representative of such User.</span></p>
        <p class="c3"><span class="c2 c0">In accordance with the Swedish Distance and Door-to-Door Sales Act (Sw: Lag om distansavtal och avtal utanf&ouml;r aff&auml;rslokaler 2005:59), a User that enters into the User Agreement in its capacity as a private individual is entitled to cancel a subscription for the Service within two weeks after the date of the subscription, provided that the User has not started using the Service during such period. In the event the User intends to use its right to cancel a subscription, the User shall contact NewsHubby&rsquo;s User service for processing of the cancellation. A User who is not a consumer is not entitled to cancel a subscription.</span></p>
        <p class="c5"><span class="c6 c4 c0">2. SCOPE OF THE SERVICE</span></p>
        <p class="c3"><span class="c2 c0">The Service consists of NewsHubby&rsquo;s interactive online tool, as presented from time to time on newshubby.com, which generates tailor made press releases based on information provided by the User. Once created, the User can publish the press release by itself and/or through NewsHubby&rsquo;s many channels targeting journalists, companies and others with a great interest in </span><span class="c0">several</span><span class="c2 c0">&nbsp;industr</span><span class="c0">ies</span><span class="c2 c0">. The purpose of the Service is to be the number one tool for companies that wish to create press releases about their businesses to reach out to interested players within their industr</span><span class="c0">ies</span><span class="c2 c0">. </span></p>
        <p class="c3"><span class="c2 c0">The Service, including any press release generated by the Service, is provided as is and NewsHubby does not give any warranty whatsoever about whether the Service is suitable or efficient for the purposes intended by the User, nor for the accurateness of any press release or the suitability, result, impact, effectiveness and/or consequence of the publishing of the press release, whether through the User&rsquo;s channels or through the channels provided by NewsHubby.</span></p>
        <p class="c3"><span class="c2 c0">NewsHubby undertakes, in accordance with the User Agreement and in the manner described, from time to time, on newshubby.com, to give the User access to the Service on the servers provided by NewsHubby and to ensure that such servers are connected to the Internet. The User is aware and accepts that the User&rsquo;s usage of the Service requires the User to have access to an Internet connection. The User must itself provide, pay for and sustain such Internet connection.</span></p>
        <p class="c3"><span class="c2 c0">NewsHubby undertakes to take reasonable steps to ensure that the Service is accessible via the Internet 24 hours a day. NewsHubby reserves the right to, at its own discretion and when it deems necessary due to technical-, operational-, maintenance- or security reasons, take measures which may affect the accessibility of the Service. NewsHubby shall, if possible, in due time notify the User of any scheduled interruptions or maintenance of the Service. However, the User is aware that the Service, wholly or party, may be closed down with immediate effect if NewsHubby deems necessary for security or other reasons. NewsHubby reserves the right to change, add or remove functions in the Service and to unilaterally change, make additions, and in other ways amend the terms of this User Agreement at any time. NewsHubby shall notify the User, via the User&rsquo;s user account at newshubby.com, or by email to an email address submitted by the User, of such amendments of the terms of the User Agreement and/or such material changes of the Service that NewsHubby makes. In case the User does not accept such material change of the Service or of the terms of the User Agreement, the User shall, within thirty (30) days from receipt of NewsHubby&rsquo;s notification of the changes, terminate the User Agreement with immediate effect. A User that has not terminated the User Agreement at the latest thirty (30) days from the date when NewsHubby notified the User of the changes, shall be deemed to have accepted such changes.</span></p>
        <p class="c3"><span class="c2 c0">The Service does not protect against viruses or other harmful code and the User is aware that all use of the Service is made at the User&rsquo;s own risk. NewsHubby does not guarantee the availability of the Service and does not guarantee that the Service is free from defects.</span></p>
        <p class="c5"><span class="c6 c4 c0">3. REGISTRATION AND PROCESSING OF USER INFORMATION </span></p>
        <p class="c3"><span class="c2 c0">Upon registration, the User shall submit the details requested in the registration form including e-mail address (the &ldquo;Registration Data&rdquo;) and keep NewsHubby informed of any changes in such Registration Data during the term of the agreement. If the User submits inaccurate, incomplete or outdated Registration Data, NewsHubby is entitled to terminate the User Agreement with immediate effect and to concurrently cancel or terminate the User&rsquo;s access to the Service.</span></p>
        <p class="c3"><span class="c2 c0">NewsHubby collects and processes the personal data about the User or the User&rsquo;s contact person(s) that is submitted with the registration form (the &ldquo;Personal Data&rdquo;) in order to supply and administrate the Service and to fulfill its obligations under the User Agreement. To the extent necessary for NewsHubby&rsquo;s supply of the Service, NewsHubby may transfer the Personal Data to service providers and partners. NewsHubby and/or NewsHubby&rsquo;s partners are entitled to handle the Personal Data for marketing, campaigns, offers and new products or services that are offered within the scope of the Service by NewsHubby or</span><span class="c0">&nbsp;</span><span class="c2 c0">NewsHubby&rsquo;s partners. The User is entitled to access the Personal Data that NewsHubby has registered about them, and may at any time demand NewsHubby to correct or erase erroneous or incomplete Personal Data. In addition hereto, the User may itself correct its personal data, by logging into its account for the Service at newshubby.com. By accepting this User Agreement, the User consents to NewsHubby&rsquo;s processing of Personal Data in accordance with this Section 3.</span></p>
        <p class="c3"><span class="c2 c0">By agreeing to this User Agreement the User consents to NewsHubby&rsquo;s processing and storing of the Registration Data and the Contents (as defined in Section 4), and to disclosing Registration Data or Contents if NewsHubby is obliged to do so by law, or if NewsHubby at its own discretion considers it necessary to (a) comply with a legal obligation; (b) uphold the User Agreement; (c) respond to statements that Contents and/or Registration Data constitute an infringement of a third party right or in any other way is in contravention with law; or (d) protect NewsHubby&rsquo;s, its users or the publics&rsquo; interests, rights, property or personal safety.</span></p>
        <p class="c3"><span class="c2 c0">The User is aware that NewsHubby&rsquo;s providing of the Service and storing the Contents and Registration Data may involve (a) transfer through different networks; and (b) amendments to adjust and process the Contents in accordance with technical requirements for connecting networks or appliances.</span></p>
        <p class="c5"><span class="c6 c4 c0">4. USE OF THE SERVICE</span></p>
        <p class="c3"><span class="c2 c0">The User is responsible and shall bear all costs for the User&rsquo;s access to such equipment that is required to access and use the Service at its full capacity, including to but not limited to Internet access and telephone-, data-, hardware- and software equipment.</span></p>
        <p class="c3"><span class="c2 c0">The User is solely and exclusively responsible for all content that the User submits, processes and/or publishes through the Service and for all information that the User stores on NewsHubby&rsquo;s servers (the &ldquo;Content&rdquo;). This includes responsibility under the Swedish Personal Data Act for any personal data that the User processes through the Service and for which the User is considered to be responsible. To the extent NewsHubby is considered to process personal data on behalf of the User (i.e. as personal data processor), NewsHubby undertakes to process such personal data only in accordance with the User&rsquo;s instructions (providing the Service being one of them).</span></p>
        <p class="c3"><span class="c2 c0">The User is aware and acknowledges that each press release generated through the Service is a direct result of the quality of the information provided by the User. The User agrees to follow any and all instructions given by NewsHubby relating to the use of the Service and to carefully answer the questions generated by the Service when creating a new press release. Further, NewsHub</span><span class="c0">by reserves the right to make smaller changes, in order to get a better result, like: changing of header, changing order of the content, typo and removing unnecessary adjectives or content.</span></p>
        <p class="c3 c10"><span class="c2 c0"></span></p>
        <p class="c3"><span class="c2 c0">The User may use the Service only in accordance with the intended purpose as described in Section 2, first paragraph, the User Agreement and NewsHubby&rsquo;s from time to time applicable instructions. The User is not entitled to use the Service in any way that may overload, disturb, harm, inactivate or impair the Service, or use the Service in any way that may lead to transfer, distribution or uploading of software or material containing harmful code, such as virus, timebombs, cancelbots, worms, Trojan horses, espionage software or other potentially harmful software, material or information.</span></p>
        <p class="c3"><span class="c2 c0">The User undertakes not to use the Service for purposes of uploading, processing, publishing or in any other way handling or forwarding information in breach of applicable law (including but not limited to information that may be deemed to constitute incitement to racial hatred, child pornography, slander, insult, instigation of rebellion, unlawful description of violence, and/or violation of copyright or any intellectual property law or violations of the personal data act) or that may in any other way be conceived as threatening, insulting, racist, harrassive, offensive, vulgar and/or indecent, infringing of someone&rsquo;s personal sphere or that NewsHubby considers, in its own discretion, harms or may be harmful to NewsHubby&rsquo;s brand and good reputation. Further, the User may not use NewsHubby&rsquo;s trademarks or distinctive marks in any way other than what has been explicitly consented to by NewsHubby.</span></p>
        <p class="c3"><span class="c2 c0">The User shall not for commercial purposes reproduce, multiply, produce versions of, sell, resell or exploit any part of the Service, usage of the Service, or access to the Service without prior agreement to this effect with NewsHubby. The User may neither use the Service as part of automatized processes for other software applications or in connection with bulk emailing of information or as support for publicly available file sharing services.</span></p>
        <p class="c5"><span class="c6 c4 c0">5. SOFTWARE LICENSE </span></p>
        <p class="c3"><span class="c2 c0">NewsHubby grants the User a non-exclusive, non-transferable, world wide and revocable license to use any software included in the Service, including connecting media and specifications, and instructions for handling of such software (collectively the &ldquo;Software&rdquo;). NewsHubby reserves the right to change or replace the software during the term of this agreement. All intellectual property rights to the Software are held by NewsHubby or its licensors. The User has no right whatsoever to the Software, except for what is explicitly stated in this User Agreement.</span></p>
        <p class="c3"><span class="c2 c0">The User may not under any circumstances entirely or partly copy, reproduce, decompose, connect together in network, process, change, reverse engineer, make additions or create derived items or productions from the Software in addition to what is explicitly stated in this User Agreement. Further, the User undertakes to ensure that no third party is admitted to examine the Software without NewsHubby&rsquo;s written consent.</span></p>
        <p class="c11"><span class="c2 c0">In connection with a notice of defect or support issues regarding the Software, NewsHubby shall be entitled to collect information regarding the User&rsquo;s computer, hardware, operating system, program etc., and to obtain such other information or data which may be required in handling the notice of defect or support issue. The User hereby agrees that NewsHubby may collect information in accordance with the above. NewsHubby may not use information regarding the User collected according to the above, for other purposes than handling the notice of defect or support issue. NewsHubby is obliged to treat such obtained information confidentially. NewsHubby does not in any way guarantee that the Software is adequate to the User&rsquo;s needs or that the Software can be used without disruptions or defects.</span></p>
        <p class="c10 c12"><span class="c0"></span></p>
        <p class="c5"><span class="c6 c4 c0">6. PASSWORD ETC </span></p>
        <p class="c3"><span class="c2 c0">The User shall ensure that the user account(s) and the password(s) which the User </span><span class="c0">decides</span><span class="c2 c0">&nbsp;for its use of the Service are stored in a satisfactory manner and protected from being used by any third party. The User is responsible for any and all unauthorized use of the User&rsquo;s user account and password until the User has requested and NewsHubby has blocked the access to the Service for a specific user identity. NewsHubby is entitled to control, or have a third party control, the User&rsquo;s usage of the Service and its user accounts and passwords, in accordance with this User Agreement.</span></p>
        <p class="c5"><span class="c4 c0">7</span><span class="c6 c4 c0">. PRICE AND PAYMENT</span><span class="c4 c0">/ Price models</span><span class="c6 c4 c0">:</span></p>
        <ul class="c9 lst-kix_spg1ig2oi3j2-0 start">
            <li class="c1"><span class="c0">1 publication&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5,000 SEK</span></li>
            <li class="c1"><span class="c0">2 publications &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10,000 SEK</span></li>
            <li class="c1"><span class="c0">3 publications&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;15,000 SEK</span></li>
            <li class="c1"><span class="c0">4 publications&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;20,000 SEK</span></li>
            <li class="c1"><span class="c0">5 publications&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;25,000 SEK</span></li>
            <li class="c1"><span class="c0">more than 5 publications&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;30,000 SEK</span></li>
            <li class="c1"><span class="c0">Subscription 1 year&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; 5000 SEK/ month (unlimited amount of distributions)</span></li>
        </ul>
        <p class="c5 c10"><span class="c0"></span></p>
        <p class="c3"><span class="c2 c0">All fees shall be paid within </span><span class="c0">within 2 weeks from when receiving the bill</span><span class="c2 c0">. NewsHubby reserves the right to change, at any time and at NewsHubby&rsquo;s sole discretion, the prices for the Service. Such changes shall be applicable to all subscription periods that are entered into after NewsHubby has published the new price list on newshubby.com or in another manner informed the User of the change of prices.</span></p>
        <p class="c3"><span class="c2 c0">In the event the User does not fulfill its payment obligation under this Agreement and/or has insufficient funds at the submitted credit card, NewsHubby is entitled to cancel, wholly or partly, the Service, until the User has paid in full. If the User does not pay, despite a reminder from NewsHubby, NewsHubby is entitled to immediately terminate the User&rsquo;s User Agreement. Upon delayed payment, NewsHubby is further entitled to compensation for reminder letter, recovery, enforced collection and entitled to statutory interest rate.</span></p>
        <p class="c3"><span class="c2 c0">All payments made are binding and will not be refunded to User in connection with the termination of the User Agreement or in connection with change of subscription type, regardless of the cause of the termination of the User Agreement or when such termination occurs.</span></p>
        <p class="c5"><span class="c4 c0">8</span><span class="c4 c0 c6">. CONFIDENTIALITY AND COMPUTER SAFETY </span></p>
        <p class="c3"><span class="c2 c0">Each party undertakes not to disclose or make available to any third party any information which it has obtained by the other party within the scope of the User Agreement. The confidentiality undertaking does not apply to such information that a party can prove has come to the party&rsquo;s knowledge otherwise than within the scope of the User Agreement or which is in the public domain. The confidentiality undertaking does not apply to such information which is required to be disclosed by law. The confidentiality undertaking shall remain in force upon the termination of the User Agreement. The User shall at all times abide by NewsHubby&rsquo;s from time to time applicable provisions regarding computer safety.</span></p>
        <p class="c5"><span class="c0 c4">9</span><span class="c6 c4 c0">. CLAIMS RELATED TO THE USE OF THE SERVICE </span></p>
        <p class="c3"><span class="c2 c0">If claims are made against NewsHubby or an action is brought against NewsHubby due to the User&rsquo;s use of the Service, the User undertakes to indemnify NewsHubby for any harm, loss or damage that is inflicted upon NewsHubby because of such claim (including but not limited to costs connected with settlement or judgment). The undertaking is valid only if the User, within a reasonable time from the claims have been made, is informed in written by NewsHubby of the claims or of the fact that actions have been brought against NewsHubby. It further requires that the User is given the opportunity to approve of any settlement or similar undertaking.</span></p>
        <p class="c5"><span class="c6 c4 c0">1</span><span class="c4 c0">0</span><span class="c6 c4 c0">. LIMITATION OF LIABILITY</span><span class="c2 c0">&nbsp;</span></p>
        <p class="c3"><span class="c2 c0">NewsHubby shall not be liable for any direct, indirect or consequential damage, on persons or property, economic loss or loss of data which are caused to the User or a third party due to the Service or the User&rsquo;s use of the Service. NewsHubby shall not be liable for any unauthorized access to data or deficient data secrecy in connection with the transfer of information via the Internet when using the Service or for any misuse of Content published through the Service.</span></p>
        <p class="c3"><span class="c2 c0">NewsHubby&rsquo;s liability shall be limited to the above stated except in case of gross negligence or intent. NewsHubby&rsquo;s liability under the User Agreement shall under all circumstances always be limited to a sum corresponding to the annual fee paid by</span><span class="c0">&nbsp;</span><span class="c2 c0">the User for the Service according to this User Agreement. However, such liability shall never exceed SEK 10 000. This limitation shall apply even if other guarantees or remedies under this User Agreement fail to fulfill their purposes.</span></p>
        <p class="c5"><span class="c6 c4 c0">1</span><span class="c4 c0">1</span><span class="c6 c4 c0">. TERM AND TERMINATION </span></p>
        <p class="c3"><span class="c2 c0">This User Agreement enters into force on the day of the User&rsquo;s subscription for the Service through registration on newshubby.com and shall remain in force (i) for Subscription</span><span class="c0">,</span><span class="c2 c0">&nbsp;</span><span class="c0">twelve</span><span class="c2 c0">&nbsp;(</span><span class="c0">12</span><span class="c2 c0">) months from the subscription date, unt</span><span class="c0">il terminated</span><span class="c2 c0">. The </span><span class="c0">s</span><span class="c2 c0">ubscription</span><span class="c0">&nbsp;</span><span class="c2 c0">shall, after the </span><span class="c0">twelve</span><span class="c2 c0">&nbsp;(</span><span class="c0">12) months</span><span class="c2 c0">&nbsp;be renewed for additional period of tw</span><span class="c0">elve </span><span class="c2 c0">(</span><span class="c0">12</span><span class="c2 c0">) months at a time, unless terminated by either party at the latest </span><span class="c0">on </span><span class="c2 c0">the expiry day of the current term. </span></p>
        <p class="c3"><span class="c2 c0">Notice of termination of the User Agreement shall be made through its account at newshubby.com or by sending a written notice of termination to info@newshubby.com. Written notice of termination which is not sent through the User&rsquo;s user account, shall be supplemented with a copy of the Users valid piece of identification or, if the User is a legal entity, a copy of a valid registration certificate of the legal entity. Upon termination of the User Agreement, the User will have access to the Service for the remainder of the term paid for by the User.</span></p>
        <p class="c3"><span class="c2 c0">NewsHubby retains the right to immediately terminate the User Agreement and/or close down, wholly or partly, the Service for any User that uses the Service in breach of this User Agreement or NewsHubby&rsquo;s instructions, uses the Service to store and/or transfer unreasonably large quantities of data or for unreasonably long data sessions compared to the average usage of the Service, or for Users that NewsHubby otherwise considers risk to seriously disrupt the usage of NewsHubby&rsquo;s systems or that obviously abuse the Service.</span></p>
        <p class="c3"><span class="c2 c0">NewsHubby is entitled to terminate the User Agreement with immediate effect if the User is declared bankrupt, suspends its payments, enters into liquidation or is otherwise deemed insolvent.</span></p>
        <p class="c3"><span class="c2 c0">Upon NewsHubby&rsquo;s termination of the User Agreement for User&rsquo;s breach of contract, NewsHubby retains the right to request compensation from User for all damage caused by the User&rsquo;s breach of contract.</span></p>
        <p class="c5"><span class="c6 c4 c0">1</span><span class="c4 c0">2</span><span class="c6 c4 c0">. FORCE MAJEURE </span></p>
        <p class="c3"><span class="c2 c0">A party is not liable for non-performance of a certain contractual duty under the User Agreement if the non-performance is due to a circumstance which is stated below (a &ldquo;relieving circumstance&rdquo;) and if the circumstance prevents or significantly complicates the performance under the User Agreement in due time and the circumstance has been beyond such party&rsquo;s control. Such relieving circumstance is inter alia an act or an omission of a public authority, new or amended legislation, general labor disturbance, boycott, damage or destruction by lightning, fire, flood, lack of supply regarding transportation, goods or energy, or fault or delay of delivery of goods or services by a supplier on the same relieving circumstance that is stated above and disturbances in the general data- or telecommunication network.</span></p>
        <p class="c5"><span class="c6 c4 c0">1</span><span class="c4 c0">3</span><span class="c6 c4 c0">. MISCELLANEOUS </span></p>
        <p class="c3"><span class="c2 c0">User support for the Service is provided through instructions on newshubby.com, FAQ and other support documents available from time to time on newshubby.com. NewsHubby does not warrant the availability of any User support for any specific question or support matter.</span></p>
        <p class="c3"><span class="c2 c0">This User Agreement comprises the entire agreement between the parties regarding the User&rsquo;s use of the Service. Except for NewsHubby&rsquo;s right to change, make additions and in other ways amend the terms of this User Agreement according to Section 2 above, all potential additions or amendments to this agreement shall be made in writing and be duly signed by both parties.</span></p>
        <p class="c3"><span class="c2 c0">The User shall not be entitled to transfer its rights or obligations according to this User Agreement, without NewsHubby&rsquo;s written consent. NewsHubby is entitled to transfer its rights and obligations according to this User Agreement in its entirety.</span></p>
        <p class="c3"><span class="c0 c2">NewsHubby is entitled to employ subcontractors to perform its obligations pursuant to this User Agreement. In such event, NewsHubby will be liable for its subcontractors.</span></p>
        <p class="c3"><span class="c2 c0">This User Agreement shall be governed by and construed in accordance with the laws of Sweden. Disputes arising out of or in connection with this User Agreement shall be settled by the courts of law of Sweden, with the district court of Malm&ouml; (Swe: Malm&ouml; tingsr&auml;tt) being the court of first instance.</span></p>
        <p class="c3"><span class="c2 c0">Notices to the User will be given on newshubby.com or sent to the email address submitted by the User upon registration. Notices from the User to NewsHubby shall be sent through the headline &ldquo;Contact&rdquo; on newshubby.com. Notices shall be deemed to have been received by NewsHubby when NewsHubby confirms receipt of such notice by a personal reference (i.e. not by auto reply).</span></p>
        </div> <!-- / .col -->
    </div> <!--- / .container -->
    <div class="push"></div>
</div>