$nhPink: #fd4f57;
$nh-newpink: #ea505a;
$nhBlue: #699bc5;
$nhPetrolium: #334b60;
$nhWhite: #fff;
$nh-creamwhite: #f8f6e4;
$lightGreen: #67b767;
$whiteBoxShadow: 0 2px 0px rgba(0, 0, 0, 0.1);
$whiteBoxShadowHover: 0 2px 0px rgba(0, 0, 0, 0.5);