<div class="short-page">
  <div class="container">

<% @categories.each do |category| %>

      <div class="col-sm-6">
				<%= link_to category, class: "business-field-link" do %>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="media">
                 <!--<div class="media-left media-middle">
                  <img class="media-object" src="media/img.png" alt="...">
                </div>-->
                <div class="media-body">
                  <h4 class="media-heading"><%= category.name %></h4>
                  <p><%= category.description %></p>
                </div>
              </div>
            </div>
          </div>
				<% end %>
      </div>

<% end %>


    </div>


  <div class="push"></div>
</div>