<div class="collapse navbar-collapse">
<%= form_tag press_rooms_path, method: :get, class: "navbar-form navbar-right", role: "search" do %>
   <div class="input-group" id="navSearch">
       <%= autocomplete_field_tag :search, params[:search], autocomplete_press_release_title_press_rooms_path, class: "form-control", placeholder: "Sök pressmeddelande", id: "srch-term", type: "text" %>
      <div class="input-group-btn">
				<%= button_tag "Search", :name => nil, class: "btn btn-default noShadow", id: "searchBtn", type: "submit" do %><span class="text-primary"><i class="fa fa-search"></i></span><% end %><% end %>
     </div>
 </div>